# M1 Editorial CMS Administrative Credentials Template
ADMIN_EMAIL_1="Inquireareez@gmail.com"
ADMIN_PASS_1="your_password_here"

ADMIN_EMAIL_2="Founder@rsinternational.net"
ADMIN_PASS_2="your_password_here"

ADMIN_SESSION_SECRET="your_session_secret_here"
